<div class="box">
  <div class="field">
    <textarea [(ngModel)]="newPost"
              class="textarea has-fixed-size new-post-content"
              maxlength="250"
              name="blog-entry" id="blog-entry" rows="5"></textarea>
  </div>
  <div class="field has-text-right">
    <a class="button is-success"
       [ngClass]="{ 'is-loading': isLoading }"
       (click)="sendNewPost()">
      <span class="icon is-small">
        <i class="fa fa-check"></i>
      </span>
      <span>Publish</span>
    </a>
  </div>
</div>
